#root {
  margin: 0 auto;
  padding: 2rem 10rem;
  text-align: center;
  width: 100%;
}

@font-face {
  font-family: 'Inter Variable';
  src: url('./assets/fonts/Inter-variable.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}



.table--showColors tr:nth-child(odd){
  background-color: #333;
}

.table--showColors tr:nth-child(even){
  background-color: #555;
}

.pointer{
  cursor: crosshair;
}