.footer {
  position: fixed;
  left: 16px;
  bottom: 16px;
  text-align: left;
  background: rgba(236, 236, 236, 0.5);
  padding: 8px 24px;
  border-radius: 32px;
  opacity: 0.95;
  backdrop-filter: blur(8px);
}

.footer span {
  font-size: 14px;
  color: #09f;
  opacity: 0.8;
}

.footer h4,
.footer h5 {
  margin: 0;
  display: flex;
}
